<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js Shop</title>
</head>
<body>
<div id="app">
    <h1>{{ title }}</h1>
    <div>
        <h2>Product</h2>
        <ul>
            <li v-for="product in products">
                {{ product.title }} ($ {{product.price}}) - Inventory {{ product.inventory }}
                <button v-on:click="addToCart($event, product)" v-bind:disabled="product.inventory <= 0">Add Cart</button>
            </li>
        </ul>
    </div>
    <div>
        <h2>Cart</h2>
        <ul>
            <li v-for="product in cartItems">
                {{ product.title }} ($ {{ product.price }} x {{ product.quantity }})
            </li>
        </ul>
        <h3>Total Amount :  $ {{ totalAmount }}</h3>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data:{
            title : 'Vue.js Store!',
            products: [
                // {id:1, title:'iPad Mini', price:500.5, inventory: 7},
                // {id:2, title:'iPad Pro', price:800.4, inventory:5},
                // {id:3, title:'MacBook', price:1200.6, inventory:2}
            ],
            cartItems: [

            ]
        },
        methods: {
            addToCart : function(event, product){


                this.$data.products
                    .filter(function(p) {return p.id === product.id})
                    .map(function(p) {return p.inventory--});



                var _cartItem = this.$data.cartItems.filter(function(p) {return p.id === product.id})
                if(_cartItem.length > 0){
                    _cartItem.map(function(p) {return p.quantity++});
                } else{
                    this.$data.cartItems.push({
                        "id" : product.id,
                        "title" : product.title,
                        "price" : product.price,
                        "quantity" : 1
                    });
                }
            }
        },
        computed: {
            totalAmount : function(){
                var totalAmount = this.$data.cartItems.reduce(function (previousSum, currentItem) {
                    return previousSum + currentItem.price * currentItem.quantity;
                }, 0);
                return Math.round(totalAmount);
            }
        },
        mounted: function () {
            var PRODUCT_API_URL = "/product/";
            var _app = this;

            axios.get(PRODUCT_API_URL)
            .then(function (response) {
                _app.$data.products = response.data;
            })
            .catch(function(error){
                console.log(error);
            })
        }
    });
</script>
</body>
</html>